.marvelLogo{
    height:50px;
    width:120px;
    border:10px solid #2F2727;
}
body{
    background-color: black;
}
.nav{
    font-family: "Trade Gothic";
    font-size:25px;
}
#films{
     background-color:black;
}
.carousel-item img{
        width:100%;
        object-fit: cover;
        height:400px;
    }
    
#btndropdown{
    background-color: #464141;
}
.img-gallery{
    height:640px;
    display: block;
    margin: auto;
}
.dropdown-divider{
    background-color:black;
}
#spidey{
      border-radius: 50%;
      border-style: solid;
        position:absolute;
    bottom: 200px;
    right: 950px;
    width: 250px;
    border: 3px solid;
}

.spidey{
    margin:auto;
    display:block;
    position:relative;
    width:1000px; 
    height:400px;
     border: 5px solid;
}
.big{
 text-align:center ; 
 font-size:500%;
}
body{
    background-color:black;
    color:white;
    }
    p{
     color:white;   
    }
#divv{
      margin-right:200px;
      margin-left:200px;
    }
    #bpanther{
      border-radius: 50%;
      border-style: solid;
        position:absolute;
    bottom: 200px;
    right: 950px;
    width: 250px;
    border: 3px solid;
}

.bpanther{
    margin:auto;
    display:block;
    position:relative;
    width:1000px; 
    height:400px;
     border: 5px solid;
}
.bigs{
 text-align:center ; 
 font-size:500%;
}
.blackpanther{
    background-color:black;
    color:lightgray;
    }
    .paragraph{
     color:lightgray;   
    }
#panther{
      margin-right:200px;
      margin-left:200px;
    }
 #marvel{
      border-radius: 50%;
      border-style: solid;
        position:absolute;
    bottom: 200px;
    right: 850px;
    width: 350px;
    border: 3px solid;
}

.marvel{
    margin:auto;
    display:block;
    position:relative;
    width:1000px; 
    height:400px;
     border: 5px solid;
}
.bigss{
 text-align:center ; 
 font-size:500%;
}
.captainmarvel{
    background-color:black;
    color:white;
    }
    .paragraph{
     color:white;   
    }
#cmarvel{
      margin-right:200px;
      margin-left:200px;
    }
    
    