@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.marvelLogo {
    height: 50px;
    width: 120px;
    border: 10px solid #2F2727;
}

body.darkbackground {
    background-color: black;
}

.nav {
    font-size: 25px;
}

.nav-pills.red li.show a.nav-link,
.nav-pills.red li.show a.nav-link:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

a,
a:hover {
    color: white;
}

.nav>li>a:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

#films {
    background-color: black;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
    height: 700px;
}

#btndropdown {
    background-color: #464141;
}

.img-gallery {
    height: 800px;
    display: block;
    margin: auto;
    object-fit: cover;
}

.dropdown-divider {
    background-color: black;
}

#spidey {
    border-radius: 50%;
    border-style: solid;
    position: absolute;
    bottom: -50px;
    right: 1500px;
    width: 250px;
    border: 3px solid;
}

.spidey {
    margin: auto;
    display: block;
    position: relative;
    width: 80%;
    border: 5px solid;
}

.big {
    text-align: center;
    font-size: 2.5em;
}

body {
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 24px;
    }
}

p {
    color: white;
}

#divv {
    margin-right: 200px;
    margin-left: 200px;
}

.profile-pic-prosbp {
    position: absolute;
    top: 600px;
    left: 10px;
}

#bpanther {
    border-radius: 50%;
    border-style: solid;
    position:absolute;
    bottom: -60px;
    right: 850px;
    width: 200px;
    border: 3px solid;
    height: 280px;
}

.bpanther {
    margin: auto;
    display: block;
    position: relative;
    width: 80%;
    border: 5px solid;
}

.bigs {
    text-align: center;
    font-size: 2.5em;
}

.blackpanther {
    background-color: black;
    color: lightgray;
}

.paragraph {
    color: lightgray;
}

#panther {
    margin-right: 200px;
    margin-left: 200px;
}

#marvel {
    border-radius: 50%;
    border-style: solid;
    position: absolute;
    bottom: 500px;
    right: 800px;
    width: 350px;
    border: 3px solid;
}

.marvel {
    margin: auto;
    display: block;
    position: relative;
    width: 1000px;
    height: 400px;
    border: 5px solid;
}

.bigss {
    text-align: center;
    font-size: 2.5em;
}

.captainmarvel {
    background-color: black;
    color: white;
}

.paragraph {
    color: white;
}

#cmarvel {
    margin-right: 200px;
    margin-left: 200px;
}

#hulk {
   border-radius: 50%;
    border-style: solid;
    position: absolute;
    bottom: 400px;
    right: 1200px;
    width: 350px;
    border: 3px solid;
}

.hulk {
    margin: auto;
    display: block;
    position: relative;
    width: 1000px;
    height: 400px;
    border: 5px solid;
}

.bigsss {
    text-align: center;
    font-size: 2.5em;
    color: green;
}

.thehulk {
    background-color: black;
    color: white;
}

.hulks {
    color: green;
}

#thulk {
    margin-right: 200px;
    margin-left: 200px;
    color: green;
}

#thor {
    border-radius: 50%;
    border-style: solid;
    position: absolute;
    bottom: 400px;
    right: 1300px;
    width: 290px;
    border: 3px solid;
}

.thor {
    margin: auto;
    display: block;
    position: relative;
    width: 1000px;
    height: 400px;
    border: 5px solid lightblue;
}

.bigssss {
    text-align: center;
    font-size: 2.5em;
    color: lightblue;
}

.thethor {
    background-color: black;
    color: lightblue;
}

.thors {
    color: lightblue;
}

#tthor {
    margin-right: 200px;
    margin-left: 200px;
    color: lightblue;
}

#iron {
    border-radius: 60%;
    border-style: solid;
    position: absolute;
    bottom: 400px;
    right: 1340px;
    width: 200px;
    border: 3px solid;
}

.iron {
    margin: auto;
    display: block;
    position: relative;
    width: 1000px;
    height: 400px;
    border: 5px solid #938284;
}

.bigsssss {
    text-align: center;
    font-size: 2.5em;
    color: #938284;
}

.theironman {
    background-color: black;
    color: #938284;
}

.irons {
    color: #938284;
}

#iman {
    margin-right: 200px;
    margin-left: 200px;
    color: #938284;
}

#widow-img {
    background-image: url(https://img.cinemablend.com/cb/f/a/7/5/b/7/fa75b7cbfe8e6653ff2e11ab824ff7257b9b29f602e1de621685ba70944e4ec5.jpg);
    background-size: cover;

}

.profile-img-wrapper {
    position: relative;
}

#widow-profile-pic {
    border-radius: 50%;
    border-style: solid;
    width: 340px;
    border: 3px solid;
    bottom:300px ;
    left:-70px;
}

.profile-pic-pos {
    position: absolute;
    top: 249px;
    left: 20px;
}

.widow {
    margin: auto;
    display: block;
    position: relative;
    
    height: 400px;
    border: 5px solid #72756E;
}

.bigssssss {
    text-align: center;
    font-size: 2.5em;
    color: #72756E;
}

.blackwidow {
    background-color: black;
    color: #72756E;
}

.widows {
    color: #72756E;
}

#bwidow {
    margin-right: 200px;
    margin-left: 200px;
    color: #72756E;
}

#america {
    border-radius: 50%;
    border-style: solid;
    position: absolute;
    bottom: -70px;
    right: 850px;
    width: 240px;
    border: 3px solid;
}

.america {
    margin: auto;
    display: block;
    position: relative;
    width: 1000px;
    height: 400px;
    border: 5px solid #C6CCBF;
}

.bigsssssss {
    text-align: center;
    font-size: 2.5em;
    color: #C6CCBF;
}

.captainamerica {
    background-color: black;
    color: #C6CCBF;
}

.americas {
    color: #C6CCBF;
}

#camerica {
    margin-right: 200px;
    margin-left: 200px;
    color: #C6CCBF;
}
.avengers{
    height: 370px;
}
